In [2]:
import numpy as np
import netCDF4 as nc
import pandas as pd
import numpy.ma as ma
import matplotlib as mpl
import matplotlib.pyplot as pltz
import xarray as xar
import rioxarray
from sqlalchemy import create_engine
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import sessionmaker
from sqlalchemy.orm import Mapped
from sqlalchemy import ForeignKey, Sequence, MetaData
from sqlalchemy import select, update
from sqlalchemy.orm import mapped_column, DeclarativeBase
from datetime import datetime

In [33]:
# PacificOcean | AtlanticOcean | IndianOceanNew | NorthSea
full_path=r'./data/IndianOceanNew.csv'

In [34]:
with open(full_path,'rb') as f:
    data=pd.read_csv(f,encoding='utf-8')
data.head()

,code,location,city,country,lat,lon
0,rodr,Rodrigues,罗德里格斯岛,Mauritius,-19.680240,63.42119
1,ptlu,Pt.Louis,路易斯港,Mauritius,-20.157160,57.50430
2,blueb,Blue Bay,蓝湾,Mauritius,-20.444133,57.71095
3,reun2,Pointe des Galets (Reunion Island),加莱角,France,-20.920000,55.28000
4,toam2,Toamasina 2,图阿马西纳,Madagascar,-18.153600,49.42810

In [35]:
data.columns

Index(['code', 'location', 'city', 'country', 'lat', 'lon'], dtype='object')

In [36]:
# 数据库的配置，配置借鉴自 django 的 settings 的结构
DATABASES = {
    'default': {
        'ENGINE': 'mysqldb',  # 数据库引擎
        'NAME': 'surge_global_sys',  # 数据库名
        'USER': 'root',  # 账号
        'PASSWORD': '123456',
        'HOST': '127.0.0.1',  # HOST
        'POST': 3306,  # 端口
        'OPTIONS': {
            "init_command": "SET foreign_key_checks = 0;",
        },
    },
}

### 尝试将行政区域信息提取并写入 tb:region_info

In [37]:
DEFAULT_COUNTRY_INDEX = -1

In [38]:
class DbFactory:
    """
        数据库工厂
    """

    def __init__(self, db_mapping: str = 'default', engine_str: str = None, host: str = None, port: str = None,
                 db_name: str = None,
                 user: str = None,
                 pwd: str = None):
        """
            mysql 数据库 构造函数
        :param db_mapping:
        :param engine_str:
        :param host:
        :param port:
        :param db_name:
        :param user:
        :param pwd:
        """
        db_options = DATABASES.get(db_mapping)
        self.engine_str = engine_str if engine_str else db_options.get(
            'ENGINE')
        self.host = host if host else db_options.get('HOST')
        self.port = port if port else db_options.get('POST')
        self.db_name = db_name if db_name else db_options.get('NAME')
        self.user = user if user else db_options.get('USER')
        self.password = pwd if pwd else db_options.get('PASSWORD')
        # TypeError: Invalid argument(s) 'encoding' sent to create_engine(), using configuration MySQLDialect_mysqldb/QueuePool/Engine.  Please check that the keyword arguments are appropriate for this combination of components.
        self.engine = create_engine(
            f"mysql+{self.engine_str}://{self.user}:{self.password}@{self.host}:{self.port}/{self.db_name}?charset=utf8",
            pool_pre_ping=True, future=True)
        self._session_def = sessionmaker(bind=self.engine)

    @property
    def Session(self) -> sessionmaker:
        if self._session_def is None:
            self._session_def = sessionmaker(bind=self.engine)
        return self._session_def()

In [39]:
class BaseMeta(DeclarativeBase):
    pass


class IIdModel(BaseMeta):
    __abstract__ = True
    id: Mapped[int] = mapped_column(primary_key=True)


class IDel(BaseMeta):
    """
        软删除 抽象父类
    """
    __abstract__ = True
    is_del: Mapped[int] = mapped_column(nullable=False, default=0)


class IModel(BaseMeta):
    """
        model 抽象父类，主要包含 创建及修改时间
    """
    __abstract__ = True
    gmt_create_time: Mapped[datetime] = mapped_column(default=datetime.utcnow)
    gmt_modify_time: Mapped[datetime] = mapped_column(default=datetime.utcnow)

In [40]:
class RegionInfo(IIdModel, IDel, IModel):
    """
        行政区划表
    """
    val_en: Mapped[str] = mapped_column()
    val_ch: Mapped[str] = mapped_column()
    pid: Mapped[int] = mapped_column(default=-1)
    # location: Mapped[str] = mapped_column()
    # city: Mapped[str] = mapped_column()
    # city_name_ch: Mapped[str] = mapped_column()
    # country: Mapped[int] = mapped_column(nullable=False, default=DEFAULT_COUNTRY_INDEX)
    __tablename__ = 'region_info'

In [41]:
class StationInfo(IIdModel, IDel, IModel):
    station_name: Mapped[str] = mapped_column(default='DEFAULT')
    station_code: Mapped[str] = mapped_column(default='DEFAULT')
    lat: Mapped[float] = mapped_column(nullable=True)
    lon: Mapped[float] = mapped_column(nullable=True)
    desc: Mapped[str] = mapped_column()
    is_abs: Mapped[int] = mapped_column(nullable=False, default=0)
    # 所属父级 id
    pid: Mapped[int] = mapped_column(default=0)
    is_in_common_use: Mapped[int] = mapped_column(nullable=False, default=0)
    sort: Mapped[int] = mapped_column(nullable=False, default=0)
    # 归属的行政区划id tb: RegionInfo
    rid: Mapped[int] = mapped_column(default=0)
    __tablename__ = 'station_info'

In [42]:
data.iloc[0]

code             rodr
location    Rodrigues
city           罗德里格斯岛
country     Mauritius
lat          -19.6802
lon           63.4212
Name: 0, dtype: object

In [43]:
set(data['country'].tolist())

{'Bangladesh',
 'France',
 'India',
 'Indonesia',
 'Kenya',
 'Madagascar',
 'Malaysia',
 'Maldive Islands',
 'Mauritius',
 'Myanmar',
 'Oman',
 'Pakistan',
 'Seychelles',
 'Sri Lanka',
 'Tanzania',
 'UK'}

In [44]:
session = DbFactory().Session

### step1:录入对应的国家

In [45]:
try:
    for country in set(data['country'].tolist()):
        region_model = RegionInfo(val_en=country, val_ch='')
        session.add(region_model)
    session.commit()

except Exception as ex:
    print(ex.args)
finally:

    session.close()

### step2:根据国家字典录入对应不同的城市

In [46]:
# dict_country = {
#     'SouthernKorea': 1,
#     'PuertoRico': 2,
#     'FijiIslands': 3,
#     'France': 4,
#     'SolomonIslands': 5,
#     'USASamoa': 6,
#     'Nicaragua': 7,
#     'Australia': 8,
#     'USA': 9,
#     'Japan': 10,
#     'Mexico': 11,
#     'NewZealand': 12,
#     'IndependentStateofWesternSamoa': 13,
#     'Philippines': 14,
#     'VietNam': 15,
#     'CostaRica': 16,
#     'PapuaNewGuinea': 17,
#     'Vanuatu': 18,
#     'ElSalvador': 19,

# }

# pa
# dict_country = {
# 'Saint Lucia':344,
# 'France':345,
# 'Dominican Republic':346,
# 'Jamaica':347,
# 'Grenada':348,
# 'Trinidad & Tobago':349,
# 'Bahamas/Bahama Islands':350,
# 'Aruba; Nederland':351,
# 'Haïti':352,
# 'Saint Vincent & Grenadines':353,
# 'Colombia':354,
# 'Nicaragua':355,
# 'Guatemala':356,
# 'Curaçao':357,
# 'Honduras':358,
# 'Panamá':359,
# 'St. Kitts & Nevis':360,
# 'Dominica island':361,
# 'Antigua, Barbuda & Redonda':362,
# 'Costa Rica':363,
# 'Anguilla':364,
# 'Belize':365,
# 'Martinique':366,

# }

# 北海
# dict_country = {
#     'Norway':409,
#     'Belgium':410,
#     'Germany':411,
#     'Sweden':412,
#     'Netherlands':413,
#     'UK':414,
#     'France':345,

# }

# 印度洋
dict_country = {
    'Oman':480,
    'Tanzania':481,
    'Kenya':482,
    'Myanmar':483,
    'Malaysia':484,
    'UK':414,
    'India':486,
    'Seychelles':487,
    'Maldive Islands':488,
    'France':345,
    'Indonesia':490,
    'Sri Lanka':491,
    'Madagascar':492,
    'Pakistan':493,
    'Mauritius':494,
    'Bangladesh':495,
    
}

In [47]:
num_rows=data.shape[0]
num_rows

60

更新表 `RegionInfo` 中的城市

In [49]:

def check_stand(country, cid, city, location):
    if pd.notna(country) and pd.notna(cid) and pd.notna(city) and pd.notna(location):
        return True
    else:
        return False


for index in range(num_rows-1):
    series_column = data.iloc[index]
    print(series_column)

    country_str: str = series_column['country']
    # 从字典中找到对应的id
    cid: int = dict_country.get(country_str, -1)
    location_str: str = series_column['location']
    city_str: str = series_column['city']
    if check_stand(country_str, cid, city_str, location_str):
        region_model = RegionInfo(
            val_en=location_str, val_ch=city_str, pid=cid)
        session.add(region_model)
# UnicodeEncodeError: 'charmap' codec can't encode characters in position 0-2: character maps to <undefined>
try:
    session.commit()
except Exception as ex:
    session.rollback()
    print(ex.args)
finally:
    session.close()

code             rodr
location    Rodrigues
city           罗德里格斯岛
country     Mauritius
lat          -19.6802
lon           63.4212
Name: 0, dtype: object
code             ptlu
location     Pt.Louis
city             路易斯港
country     Mauritius
lat          -20.1572
lon           57.5043
Name: 1, dtype: object
code            blueb
location     Blue Bay
city               蓝湾
country     Mauritius
lat          -20.4441
lon           57.7109
Name: 2, dtype: object
code                                     reun2
location    Pointe des Galets (Reunion Island)
city                                       加莱角
country                                 France
lat                                     -20.92
lon                                      55.28
Name: 3, dtype: object
code              toam2
location    Toamasina 2
city              图阿马西纳
country      Madagascar
lat            -18.1536
lon             49.4281
Name: 4, dtype: object
code                     dzao2
location    Dzaoudzi (Mayotte)
city                       藻德济
country                 France
lat                    -12.783
lon                    45.2583
Name: 5, dtype: object
code             laru2
location      Pt.LaRue
city               拉鲁港
country     Seychelles
lat               -4.5
lon               55.5
Name: 6, dtype: object
code                garc
location    Diego Garcia
city               迪戈加西亚
country               UK
lat             -7.29034
lon              72.3939
Name: 7, dtype: object
code            zanz
location    Zanzibar
city            桑给巴尔
country     Tanzania
lat            -6.15
lon          39.1833
Name: 8, dtype: object
code           momb
location    Mombasa
city            蒙巴萨
country       Kenya
lat          -4.067
lon           39.65
Name: 9, dtype: object
code          lamu
location      Lamu
city            拉姆
country      Kenya
lat        -2.2667
lon           40.9
Name: 10, dtype: object
code           sala
location    Salalah
city           塞拉莱港
country        Oman
lat          16.935
lon         54.0067
Name: 11, dtype: object
code         duqm
location     Duqm
city         杜古姆港
country      Oman
lat         19.66
lon         57.72
Name: 12, dtype: object
code           masi
location    Masirah
city            马西拉
country        Oman
lat         20.6833
lon         58.8667
Name: 13, dtype: object
code            ashk
location    Ashkhara
city            阿什喀拉
country         Oman
lat            21.85
lon            59.57
Name: 14, dtype: object
code         suro
location      Sur
city           苏尔
country      Oman
lat         22.57
lon         59.52
Name: 15, dtype: object
code           qura
location    Qurayat
city           古赖亚特
country        Oman
lat           23.26
lon          58.925
Name: 16, dtype: object
code           musc
location     Muscat
city           马斯喀特
country        Oman
lat         23.6333
lon         58.5667
Name: 17, dtype: object
code               wuda
location    Khawr Wudam
city               豪尔费坎
country            Oman
lat               23.82
lon               57.52
Name: 18, dtype: object
code          maji
location     Majis
city           梅耶丝
country       Oman
lat         24.518
lon         56.606
Name: 19, dtype: object
code          diba
location      Diba
city            迪贝
country       Oman
lat         25.649
lon         56.269
Name: 20, dtype: object
code            gwda
location      Gwadar
city             瓜达尔
country     Pakistan
lat          25.1122
lon          62.3394
Name: 21, dtype: object
code            orma
location      Ormara
city            奥尔马拉
country     Pakistan
lat          25.2037
lon          64.6764
Name: 22, dtype: object
code            kara
location     Karachi
city             卡拉奇
country     Pakistan
lat          24.8117
lon           66.975
Name: 23, dtype: object
code           verav
location    Veeraval
city            韦拉瓦尔
country        India
lat             20.9
lon            70.36
Name: 24, dtype: object
code            marm
location    Marmagao
city            莫尔穆冈
country        India
lat            15.41
lon             73.8
Name: 25, dtype: object
code          coch
location    Cochin
city            科钦
country      India
lat           9.96
lon          76.26
Name: 26, dtype: object
code           mini
location    Minicoy
city           米尼乔伊
country       India
lat            8.28
lon           73.05
Name: 27, dtype: object
code                   hani
location         Hanimadhoo
city                  霓玛阿都岛
country     Maldive Islands
lat                  6.7667
lon                 73.1667
Name: 28, dtype: object
code                   male
location               Male
city                     马累
country     Maldive Islands
lat                    4.19
lon                 73.5267
Name: 29, dtype: object
code             colo
location      Colombo
city              科伦坡
country     Sri Lanka
lat            6.9406
lon           79.8504
Name: 30, dtype: object
code               trin
location    Trincomalee
city               亭可马里
country       Sri Lanka
lat              8.5637
lon             81.1996
Name: 31, dtype: object
code          chenn
location    Chennai
city         金奈（钦奈）
country       India
lat            13.1
lon            80.3
Name: 32, dtype: object
code                 vish
location    Visakhapatnam
city               维萨卡帕特南
country             India
lat                 17.68
lon                 83.28
Name: 33, dtype: object
code              chtt
location    Chittagong
city               吉大港
country     Bangladesh
lat            22.3333
lon             91.825
Name: 34, dtype: object
code           sitt
location     Sittwe
city            实兑港
country     Myanmar
lat           20.15
lon            92.9
Name: 35, dtype: object
code                  hain
location    Haing Gyi Kyun
city                   海基岛
country            Myanmar
lat                16.0004
lon                94.3176
Name: 36, dtype: object
code              ptbl
location    Port Blair
city              布莱尔港
country          India
lat              11.68
lon              92.76
Name: 37, dtype: object
code            nanc
location    Nancowry
city             南考雷
country        India
lat             8.05
lon            93.55
Name: 38, dtype: object
code             saba
location       Sabang
city              沙璜港
country     Indonesia
lat            5.8333
lon           95.3333
Name: 39, dtype: object
code            lank
location    Langkawi
city             兰卡威
country     Malaysia
lat            6.416
lon          99.7667
Name: 40, dtype: object
code                   ms002
location    Kerachut, Penang
city                     格拉珠
country             Malaysia
lat                  5.45102
lon                  100.182
Name: 41, dtype: object
code                   ms004
location    Pulau Perhentian
city                     邦咯岛
country             Malaysia
lat                   5.9326
lon                  102.767
Name: 42, dtype: object
code               ms005
location    Kudat, Sabah
city                  古达
country         Malaysia
lat              6.87789
lon              116.846
Name: 43, dtype: object
code                    ms006
location    Lahad Datu, Sabah
city                     拉哈达图
country              Malaysia
lat                   5.07556
lon                   119.078
Name: 44, dtype: object
code            sibo
location     Sibolga
city            实武牙港
country     Malaysia
lat           1.7333
lon             98.8
Name: 45, dtype: object
code                 sebe
location    Sebesi Island
city                 塞贝西岛
country         Indonesia
lat              -5.93605
lon               105.512
Name: 46, dtype: object
code                maju
location    Marina Jambu
city                巴淡群岛
country        Indonesia
lat             -6.18932
lon              105.841
Name: 47, dtype: object
code                           koli
location    Kolinamil, Jakarta Port
city                          雅加达港
country                   Indonesia
lat                        -6.10667
lon                         106.891
Name: 48, dtype: object
code               pand
location    Pandangaran
city               庞岸达兰
country       Indonesia
lat            -7.74836
lon             108.501
Name: 49, dtype: object
code             cili
location      Cilacap
city              芝拉扎
country     Indonesia
lat             -7.75
lon               109
Name: 50, dtype: object
code             sema
location     Semarang
city              三宝垄
country     Indonesia
lat           -6.9479
lon            110.42
Name: 51, dtype: object
code                sadp
location    Sadeng Port
city                 沙丁港
country        Indonesia
lat             -8.19031
lon              110.799
Name: 52, dtype: object
code             prig
location        Prigi
city              普瑞吉
country     Indonesia
lat           -8.2833
lon           111.733
Name: 53, dtype: object
code             sura
location     Surabaya
city               泗水
country     Indonesia
lat          -7.19997
lon           112.741
Name: 54, dtype: object
code             beno
location        Benoa
city              伯诺阿
country     Indonesia
lat           -8.7666
lon           115.217
Name: 55, dtype: object
code            lemba
location       Lembar
city              龙目岛
country     Indonesia
lat          -8.73091
lon           116.072
Name: 56, dtype: object
code            ambon
location        Ambon
city               安汶
country     Indonesia
lat          -3.68333
lon           128.183
Name: 57, dtype: object
code             saum
location     Saumlaki
city             萨温拉基
country     Indonesia
lat          -7.98273
lon           131.291
Name: 58, dtype: object

In [50]:
# step3:录入station信息
def check_stand_station(code, location, lat, lon):
    if pd.notna(code) and pd.notna(location) and pd.notna(lat) and pd.notna(lon):
        return True
    else:
        return False


def get_rid(location: str) -> int:
    """
        根据 location 从 region_info 表中获取对应的rid
    """
    query = select(RegionInfo).where(RegionInfo.val_en == location)
    filter = session.scalars(query).fetchall()
    rid: int = -1
    if len(filter) > 0:
        # 取出第一个
        find_one = filter[0]
        rid = find_one.id
        pass
    return rid
    pass


for index in range(num_rows-1):
    series_column = data.iloc[index]
    print(series_column)
    code: str = series_column['code']
    location_str: str = series_column['location']
    lat: float = series_column['lat']
    lon: float = series_column['lon']
    if check_stand_station(code, location_str, lat, lon):
        rid: int = get_rid(location_str)
        station_model = StationInfo(
            station_code=code, lat=lat, lon=lon, rid=rid)
        session.add(station_model)
# UnicodeEncodeError: 'charmap' codec can't encode characters in position 0-2: character maps to <undefined>
try:
    session.commit()
except Exception as ex:
    session.rollback()
    print(ex.args)
finally:
    session.close()

code             rodr
location    Rodrigues
city           罗德里格斯岛
country     Mauritius
lat          -19.6802
lon           63.4212
Name: 0, dtype: object
code             ptlu
location     Pt.Louis
city             路易斯港
country     Mauritius
lat          -20.1572
lon           57.5043
Name: 1, dtype: object
code            blueb
location     Blue Bay
city               蓝湾
country     Mauritius
lat          -20.4441
lon           57.7109
Name: 2, dtype: object
code                                     reun2
location    Pointe des Galets (Reunion Island)
city                                       加莱角
country                                 France
lat                                     -20.92
lon                                      55.28
Name: 3, dtype: object
code              toam2
location    Toamasina 2
city              图阿马西纳
country      Madagascar
lat            -18.1536
lon             49.4281
Name: 4, dtype: object
code                     dzao2
location    Dzaoudzi (Mayotte)
city                       藻德济
country                 France
lat                    -12.783
lon                    45.2583
Name: 5, dtype: object
code             laru2
location      Pt.LaRue
city               拉鲁港
country     Seychelles
lat               -4.5
lon               55.5
Name: 6, dtype: object
code                garc
location    Diego Garcia
city               迪戈加西亚
country               UK
lat             -7.29034
lon              72.3939
Name: 7, dtype: object
code            zanz
location    Zanzibar
city            桑给巴尔
country     Tanzania
lat            -6.15
lon          39.1833
Name: 8, dtype: object
code           momb
location    Mombasa
city            蒙巴萨
country       Kenya
lat          -4.067
lon           39.65
Name: 9, dtype: object
code          lamu
location      Lamu
city            拉姆
country      Kenya
lat        -2.2667
lon           40.9
Name: 10, dtype: object
code           sala
location    Salalah
city           塞拉莱港
country        Oman
lat          16.935
lon         54.0067
Name: 11, dtype: object
code         duqm
location     Duqm
city         杜古姆港
country      Oman
lat         19.66
lon         57.72
Name: 12, dtype: object
code           masi
location    Masirah
city            马西拉
country        Oman
lat         20.6833
lon         58.8667
Name: 13, dtype: object
code            ashk
location    Ashkhara
city            阿什喀拉
country         Oman
lat            21.85
lon            59.57
Name: 14, dtype: object
code         suro
location      Sur
city           苏尔
country      Oman
lat         22.57
lon         59.52
Name: 15, dtype: object
code           qura
location    Qurayat
city           古赖亚特
country        Oman
lat           23.26
lon          58.925
Name: 16, dtype: object
code           musc
location     Muscat
city           马斯喀特
country        Oman
lat         23.6333
lon         58.5667
Name: 17, dtype: object
code               wuda
location    Khawr Wudam
city               豪尔费坎
country            Oman
lat               23.82
lon               57.52
Name: 18, dtype: object
code          maji
location     Majis
city           梅耶丝
country       Oman
lat         24.518
lon         56.606
Name: 19, dtype: object
code          diba
location      Diba
city            迪贝
country       Oman
lat         25.649
lon         56.269
Name: 20, dtype: object
code            gwda
location      Gwadar
city             瓜达尔
country     Pakistan
lat          25.1122
lon          62.3394
Name: 21, dtype: object
code            orma
location      Ormara
city            奥尔马拉
country     Pakistan
lat          25.2037
lon          64.6764
Name: 22, dtype: object
code            kara
location     Karachi
city             卡拉奇
country     Pakistan
lat          24.8117
lon           66.975
Name: 23, dtype: object
code           verav
location    Veeraval
city            韦拉瓦尔
country        India
lat             20.9
lon            70.36
Name: 24, dtype: object
code            marm
location    Marmagao
city            莫尔穆冈
country        India
lat            15.41
lon             73.8
Name: 25, dtype: object
code          coch
location    Cochin
city            科钦
country      India
lat           9.96
lon          76.26
Name: 26, dtype: object
code           mini
location    Minicoy
city           米尼乔伊
country       India
lat            8.28
lon           73.05
Name: 27, dtype: object
code                   hani
location         Hanimadhoo
city                  霓玛阿都岛
country     Maldive Islands
lat                  6.7667
lon                 73.1667
Name: 28, dtype: object
code                   male
location               Male
city                     马累
country     Maldive Islands
lat                    4.19
lon                 73.5267
Name: 29, dtype: object
code             colo
location      Colombo
city              科伦坡
country     Sri Lanka
lat            6.9406
lon           79.8504
Name: 30, dtype: object
code               trin
location    Trincomalee
city               亭可马里
country       Sri Lanka
lat              8.5637
lon             81.1996
Name: 31, dtype: object
code          chenn
location    Chennai
city         金奈（钦奈）
country       India
lat            13.1
lon            80.3
Name: 32, dtype: object
code                 vish
location    Visakhapatnam
city               维萨卡帕特南
country             India
lat                 17.68
lon                 83.28
Name: 33, dtype: object
code              chtt
location    Chittagong
city               吉大港
country     Bangladesh
lat            22.3333
lon             91.825
Name: 34, dtype: object
code           sitt
location     Sittwe
city            实兑港
country     Myanmar
lat           20.15
lon            92.9
Name: 35, dtype: object
code                  hain
location    Haing Gyi Kyun
city                   海基岛
country            Myanmar
lat                16.0004
lon                94.3176
Name: 36, dtype: object
code              ptbl
location    Port Blair
city              布莱尔港
country          India
lat              11.68
lon              92.76
Name: 37, dtype: object
code            nanc
location    Nancowry
city             南考雷
country        India
lat             8.05
lon            93.55
Name: 38, dtype: object
code             saba
location       Sabang
city              沙璜港
country     Indonesia
lat            5.8333
lon           95.3333
Name: 39, dtype: object
code            lank
location    Langkawi
city             兰卡威
country     Malaysia
lat            6.416
lon          99.7667
Name: 40, dtype: object
code                   ms002
location    Kerachut, Penang
city                     格拉珠
country             Malaysia
lat                  5.45102
lon                  100.182
Name: 41, dtype: object
code                   ms004
location    Pulau Perhentian
city                     邦咯岛
country             Malaysia
lat                   5.9326
lon                  102.767
Name: 42, dtype: object
code               ms005
location    Kudat, Sabah
city                  古达
country         Malaysia
lat              6.87789
lon              116.846
Name: 43, dtype: object
code                    ms006
location    Lahad Datu, Sabah
city                     拉哈达图
country              Malaysia
lat                   5.07556
lon                   119.078
Name: 44, dtype: object
code            sibo
location     Sibolga
city            实武牙港
country     Malaysia
lat           1.7333
lon             98.8
Name: 45, dtype: object
code                 sebe
location    Sebesi Island
city                 塞贝西岛
country         Indonesia
lat              -5.93605
lon               105.512
Name: 46, dtype: object
code                maju
location    Marina Jambu
city                巴淡群岛
country        Indonesia
lat             -6.18932
lon              105.841
Name: 47, dtype: object
code                           koli
location    Kolinamil, Jakarta Port
city                          雅加达港
country                   Indonesia
lat                        -6.10667
lon                         106.891
Name: 48, dtype: object
code               pand
location    Pandangaran
city               庞岸达兰
country       Indonesia
lat            -7.74836
lon             108.501
Name: 49, dtype: object
code             cili
location      Cilacap
city              芝拉扎
country     Indonesia
lat             -7.75
lon               109
Name: 50, dtype: object
code             sema
location     Semarang
city              三宝垄
country     Indonesia
lat           -6.9479
lon            110.42
Name: 51, dtype: object
code                sadp
location    Sadeng Port
city                 沙丁港
country        Indonesia
lat             -8.19031
lon              110.799
Name: 52, dtype: object
code             prig
location        Prigi
city              普瑞吉
country     Indonesia
lat           -8.2833
lon           111.733
Name: 53, dtype: object
code             sura
location     Surabaya
city               泗水
country     Indonesia
lat          -7.19997
lon           112.741
Name: 54, dtype: object
code             beno
location        Benoa
city              伯诺阿
country     Indonesia
lat           -8.7666
lon           115.217
Name: 55, dtype: object
code            lemba
location       Lembar
city              龙目岛
country     Indonesia
lat          -8.73091
lon           116.072
Name: 56, dtype: object
code            ambon
location        Ambon
city               安汶
country     Indonesia
lat          -3.68333
lon           128.183
Name: 57, dtype: object
code             saum
location     Saumlaki
city             萨温拉基
country     Indonesia
lat          -7.98273
lon           131.291
Name: 58, dtype: object